//importred partials

@import 'components/reset';
@import 'components/navBar';
@import 'components/hero';


//master conrtrols


body {
  height: vh;
  width: vw;
  font-family: sans-serif;
  // background-color: black;
}
