//importred partials

@import 'components/reset';
@import 'components/navBar';
@import 'components/hero';
@import 'components/showFeatures';
@import 'components/quoteBox';
@import 'components/footer';



//master conrtrols


body {
  height: auto;
  width: 100vw;
  font-family: sans-serif;
  // background-color: black;
}
