// class

.hero{
  width: 100vw;
  height: 700px;
  background: url("imgs/stage.jpg") no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  // top: 200px;
  padding-bottom: 250px;
    span{
      cursor: default;
      font-size: 4em;
      padding: 150px 0 0 0;

      animation-name: titlePop;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
    }
}

//animation

@keyframes titlePop{
  0%{
    font-size: 0em;
    color: white;
  }
  50%{
    color: rgba(0,0,0,.75)
  }
  100%{
    font-size: 0em;
    color: rgba(0,0,0,0)
  }
}
