// VARIABLES
$navBarHeight: 60px;
$navBarBorderStyle: 1px solid white;

// PLACEHOLDERS


// IDS



#navBarWrap{
  height: $navBarHeight;
  width:  100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-sizing: border-box;
  border-bottom: $navBarBorderStyle;
  background-color: #000;
}

#navLeft{
  height: 100%;
  width:  auto;
  display: flex;
  justify-content: space-between;
  color: #FFF;
  align-items: center;

  #cltpLogo{
    color: white;
    font-size: 2em;
    font-family: "Libian SC";
    transition: 5s;
    cursor: pointer;
      &:hover{
        font-size: 2em;
        transition: 5s;
        color: #CC433C;
      }

  }
}

#navRight{
height: 100%;
width: auto;
color: #FFF;
display: flex;
align-items: center;

ul{

  li{
    display: inline-block;
    margin: 0 10px;
    padding: 30px 0;
    cursor: pointer;
    transition: 1s;

    &:hover{
      transition: .5s;
      color: #CC433C;

      .navBarDrop{
        display: block;
        transition: 10s;
        ul{
          li{
            padding: 10px;
            width: 100%;
            font-size: 1em;
            display: block;
          }
        }
      }
      }
    }
  }

  #search{
    height: 20px;
    width: 25px;
    background: url("imgs/Search.svg") no-repeat;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -5px;
      &:hover{
        transform: scale(1.5);
      }
  }
}
#normal{

  cursor: default;

    &:hover{
    cursor: default;
    color: white !important;

    // why yes I'm narcissistic, selfish and lazy.
  }

}
// Classes

.logo{
  display: flex;
  justify-content: space-between;

}
.cltpIcon{
  height: 50px;
  width: 50px;
  padding: auto 10px;
  padding-right: 15px;
  display: flex;
  background-image: url("imgs/maskICOwhite.png");
  background-repeat: no-repeat;
  background-size: contain;

}


.navBarDrop{
  display: none;
  height: auto;
  width: auto;
  margin: 59px 0;
  background-color: #000;
  border: 1px solid white;
  border-top: 1px none black;
  position: absolute;
  top: 0;
  z-index: 3;
}
