// PLACEHOLDERS

%maskClick{
  &:active{

    h1{
      display: none;
    }

    height: 138px;
    width: 138px;
    padding: auto 0;
    display: block;
    background-image: url("imgs/maskICO.png");
    background-repeat: no-repeat;
    // background-position: ;
    background-size: contain;
    // position: relative;

  }
}

// Classes

.quoteBoxWrap{
  width: 100vw;
  height: 275px;
  display: flex;
  position: relative;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quoteText{
  display: flex;
  font-size: 3em;
  font-family: "Didot";
}

.donateButton{
  // NOT RESPONSIVE FUCK
  height: 50%;
  width: 25%;
  padding: 0 auto;
  background-image: url("imgs/donateButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
    @extend %maskClick;
    &:hover{
      cursor: pointer;
    }
    h1{
      font-family: "Timeless";
      font-size: 3em;
    }

}
